rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
		match /appdata/{document}{
    	allow read: if true;
    }    
    
    match /reports/{documents}{
    	allow create: if isSignedIn() && isVerified(); 
    }
    
    match /requests/{document}{
    allow create: if isSignedIn() && isVerified();
  	allow read, delete: if isSignedIn() && resource.data.author== request.auth.token.name;
    }
    
    match /forums/{document} {
    	allow read: if isSignedIn() && isVerified();
      allow write, update, delete: if resource.data.author== request.auth.token.name;
    }
    
    match /posts/{document=**} {
    	allow create: if isSignedIn();
      allow read: if isSignedIn() && isVerified();
      allow write, delete : if resource.data.username== request.auth.token.name || resource.id== request.auth.token.name;

    }
    
    
     match /users/{userId} {
      allow  write: if isSignedIn() && isVerified() && request.auth.uid == userId;
      allow read:if isSignedIn() && isVerified();
    }
    
    
    function isSignedIn(){
    	return request.auth!=null;
    }
    function isVerified(){
    	return request.auth.token.email_verified==true;
    }
  }
}